*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
    font-family: 'Poppins', sans-serif;
}



.banner-container {
    background: url('images/bg-call.jpg') no-repeat center center / cover;
    color: #fff;
    position: relative;
    height: 260px;
    
    margin-bottom: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    padding-bottom: 0;
}

.logo {
    height: 100px;
    width: 130px;
}


header nav a {
    color: #fff;
    margin: 0 15px;
    padding: 10px 15px;
    text-decoration: none;
}
.support{
    border-radius: 50px;
    font-weight: 500;
    background: #fff;
    color: #00579a !important;
    padding: 7px 20px !important;
    font-size: 16px !important;
    display: inline-block;
    border: solid 1px #fff;
    text-decoration: none;
    transition: all 0.5s;
    font-family: 'Poppins', sans-serif;
    animation: pulsate-bck 1s ease-in-out infinite both;
    cursor: pointer;
}
.support:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white !important;;
}

@keyframes pulsate-bck {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.form-control
{
    background-color: #F1F1F1;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    line-height: 1.5;
    padding: 15px;
}

.modal-footer button{
    background: #00579a;
    color: #fff;
    font-weight: 600;
}

.error{
    color: red;
    /* display: block; */
   
}
#success-message{
    margin-top: 5px;
    color: green;
}

#success-message1{
    margin-top: 5px;
    color: green;
}

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.handbarger{
    display: none;
}
.handbarger i{
    font-size: 1.7rem;
    cursor: pointer;
}
.header-extended{
    text-align: center;
}
.select-backgroud{
    background-color: #20242670;
    border-radius: 5px;
}






.contact-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 60px;
    height: 400px;
    margin-bottom: 250px;
}
.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}
.contact-info h6{
    color : #00579A;
    font-size : 1rem;
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 1.2;
}

.contact-info h2{
    color : #212529;
    font-size : 2rem;
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 39px;
}

.contact-info-container{
    display: flex;
    flex-direction: row;
}
.contact-info-container .contact-info-icon{
    width: 45px;
    height: 45px;
    background-color: #00579A;
    font-size: 18px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info-container .contact-info-text{
    font-weight: 600;
    font-size: 20px;
    margin-left: 15px;
    font-family: 'Poppins', sans-serif;
}
.contact-info-text small{
    display: block;
    font-size: 19px;
    color: #005799;
    font-family: 'Poppins', sans-serif;
}

.contact-form {
    padding: 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 5px 7px 15px 2px rgb(82 90 101 / 12%);
    margin: 0 0 0 35px;
}
.contact-form h6{
    color: #212529;
    font-size: 1rem;
    margin-bottom: 8px;
}

.contact-form h2{
    color: #212529;
    font-size: 2rem;
    margin-bottom: 16px;
}
.contact-form button{
    background-color: #00579A;
    padding: 6px 12px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    cursor: pointer;
    line-height: 1.5;
    border-radius: 0.25rem;
    border: none;
}
.input-fields{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.input-fields div{
    /* height: 45px; */
    width: 48%;
}
.input-fields div input{
     height: 45px;
    /* width: 48%; */
    width: 100%;
    margin-bottom: 20px;
    padding: 6px 12px;
    background-color: #F1F1F1;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
.message-field textarea{
    padding: 6px 12px;
    background-color: #F1F1F1;
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
    border: none;
} 
.error{
    color: red;
    /* display: block; */
   
}
#success-message{
    margin-top: 5px;
    color: green;
}










#footer-block{
    width: 100%;
    background-color: #212529;
    margin-top: 100px;
    color: white;
}
.content-container{
    padding: 60px;
    width: 100%;
    color: #333333;
}
.subcribe-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding:30px;
    background-color: #00579A;
    border-radius: 5px;
    position: relative;
    top:-100px;
}
.subcribe-div .col{
    width: 50%;
}
.subcribe-div .col .input-container
{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
}

.subcribe-div .col h2{
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
}
.subcribe-div .col input[type="email"]{
    /* font-size: 25px; */
    background-color: #FFFFFF;
    padding: 6px 12px;
    height: 45px;
    border-radius: 5px 0px 0px 5px;
    text-decoration: none;
    border: none;
    width: 70%;
    margin: 0;

}
.subcribe-div .col input[type="submit"]{
    font-weight:400;
    color: #FFFFFF;
    background-color: #212529;
    text-align: center;
    padding: 6px 12px;
    height: 45px;
    border-radius: 0 5px 5px 0;
    border: 0;
    margin: 0;
}

.content-container{

}


.content{
    display: flex;
    color: #FFFFFF;
    font-weight: 300;
}
.content .col{
    width: 25%;
    padding: 0 15px;
}
.content .col h5{
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 300;
}
.content .col li{
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 300;
}
.content .col a{
    font-size: 14px;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}

.copyright-container{
    padding: 32px;
    text-align: center;
}
i{
    font-size: 15px;
}









 /* Small devices (landscape phones, less than 768px) */
 @media (max-width: 615.98px) {
    /* Styles here */
    .hero-about-btn{
        padding: 10px 40px;
    }
    
    .hero-contact-btn{
        padding: 10px 40px;
    }
    .hero h1 {
        font-size: 1.9rem;
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
    }
    #hero-container{
        display: flex;
        flex-direction:column-reverse;
        justify-content:flex-start;
        align-items: center;
        padding: 20px;
    }
    .hero{
        text-align: center;
        width: 100%;
    }
    .hero-image{
        width: 400px;
    }
    header nav{
        display: none;
    }
    .about-container{
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
    }
    .about-img img{
        border-radius: 15px;
    }
    .about-img{
        margin: 0;
    }
    .about-details{
        padding: 50px 0px;
    }
    .service-block{
        padding: 0 20px;
    }
    .content{
        flex-direction: column;
    }
    .content .col{
        width: 100%;
        padding: 0 15px;
        margin-top: 20px;
    }
    .content .col li{
        list-style-type: none;
    }
    .content-container{
        padding: 20px;
    }
    .subcribe-div{
        flex-direction: column;
    }
    .subcribe-div .col {
        width: 100%;
    }
    .subcribe-div .col h2{
        text-align: left;
    }
    .subcribe-div .col .input-container
    {
        justify-content:start;
        align-items: center;
        width: 100%;
        margin-top: 5px;
    }
    header{
        padding: 20px 20px;
    }
    .contact-block{
        /* display: flex; */
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 60px;
        height: auto;
        margin-bottom: 100px;
    }
    .contact-block{
        padding: 20px;
    }
    .contact-form{
        margin: 0;
        width: 100%;
        
        margin-top: 60px;
    }
    .handbarger{
        display: inline-block;
    }
    .support {
        background: #00579a !important;
        color: #fff !important;
    }
    .error{
        font-size: 12px;
    }
  }
  
  /* Medium devices (tablets, less than 992px) */
  @media (min-width: 616px) and (max-width: 1029.98px) {
    #hero-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }
    .hero {
        text-align: center;
        width: 90%;
    }
    .hero-image {
        width: 400px;
    }
    header nav {
        display: none;
    }
    .hero h1 {
        font-size: 1.9rem;
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
    }
    .about-container{
        flex-direction: column;
        justify-content: space-between;
    }
    .about-img img{
        border-radius: 45px;
    }
    .about-details{
        padding: 50px 24px;
    }
    .about-img img{
        border-radius: 15px;
        padding: 0;
    }
    .content{
        flex-direction: column;
    }
    .content .col{
        width: 100%;
        padding: 0 15px;
        margin-top: 20px;
    }
    .content .col li{
        list-style-type: none;
    }
    .content-container{
        padding: 20px;
    }
    .subcribe-div{
        flex-direction: column;
    }
    .subcribe-div .col {
        width: 100%;
    }
    .subcribe-div .col h2{
        text-align: left;
    }
    .subcribe-div .col .input-container
    {
        justify-content:start;
        align-items: center;
        width: 100%;
        margin-top: 5px;
    }
    .contact-block{
        /* display: flex; */
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        width: 100%;
        padding: 60px;
        height: auto;
        margin-bottom: 100px;
    }
    .contact-block{
        padding: 20px;
    }
    .contact-form{
        margin: 0;
        width: 100%;
        
        margin-top: 60px;
    }
    .handbarger{
        display: inline-block;
    }
    .support {
        background: #00579a !important;
        color: #fff !important;
    }
}

  
  /* Large devices (desktops, less than 1200px) */
  @media (min-width:1030px) and (max-width: 1299.98px) {
    /* Styles here */
    .hero h1 {
        font-size: 2.0rem;
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
    }
  }
