
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.banner-container {
    background: url('images/bg-call.jpg') no-repeat center center / cover;
    
    color: #fff;
    position: relative;
    height: 600px;
}
.banner-part{
    position: absolute;
    bottom: -30px;
    width: 100%;
    left: 0px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    padding-bottom: 0;
}

.logo {
    height: 100px;
    width: 130px;
}

.select-backgroud{
    background-color: #20242670;
    border-radius: 5px;
}

header nav a {
    color: #fff;
    margin: 0 15px;
    padding: 10px 15px;
    text-decoration: none;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.handbarger{
    display: none;
}
.handbarger i{
    font-size: 1.7rem;
    cursor: pointer;
}
#hero-container{
    display: flex;
    flex-direction: row;
    padding: 0 60px;
}

.hero {
    width: 50%;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.hero p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.hero-about-btn{
    display: inline-block;
    margin: 0 8px 0 0;
    color: #00579A;
    background-color: #FFFFFF;
    padding: 10px 55px;
    text-decoration: none;
    border-radius: 4px;
    z-index: 20;
    cursor: pointer;
    position: relative;
}

.hero-contact-btn{
    display: inline-block;
    margin: 0 8px 0 0;
    color: white;
    background-color: #FFFFFF;
    padding: 10px 55px;
    text-decoration: none;
    border-radius: 4px;
    background: none;
    border: solid 2px #fff;
    z-index: 20;
    cursor: pointer;
    position: relative;
}

.hero-image{
    background-image: url('images/pngwing.com\ \(1\).png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    width: 700px;
    height: 400px;
    z-index: 1;
}





section {
    padding: 20px;
}

/* Service block */
.service-block{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 0 60px;
    margin-top: 35px;
}
.service-block h6
{
    margin-top: 25px;
    font-size: 16px;
    color:#00579A;
}
.service-block h2
{
    font-size: 35px;
    color:#212529;
}
.service-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:end;
    width: 100%;
    height: auto;
    /* height: 300px; */
    background-color: white;
    /* padding: 0px 30px; */
    margin-top: 5px;
    /* color:#0d6EFD; */
    /* box-shadow: 5px 7px 15px 2px rgb(82 90 101 / 12%); */
    flex-wrap: wrap;
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    min-height: 300px;
    width: 360px;
    max-width: 400px;
    max-height: 350px;
    background-color: white;
    padding: 0px 30px;
    margin-top: 25px;
    color:#0d6EFD;
    box-shadow: 5px 7px 15px 2px rgb(82 90 101 / 12%);
}
.service img
{
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
}
.service h5{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color:#212529;
    margin-bottom: 8px;
}
.service p{
    font-size: 14px;
    color: #737373;
    margin-bottom: 16px;
}



/* About block */
.about-block{
    padding: 0;
}
.about-svg{
    width: 100%;
}
.about-container{
    display: flex;
    padding: 0px 60px;
    justify-content: space-around;
    align-items: center;
    
    background-color: #f6f8fd;
}

.about-container .about-img{
    /* border-radius: 45px; */
    background-color: #f6f8fd;
    
    margin: 0 24px;
}
.about-container img{
    width:100%;
    height: 100%;
    border-radius: 15px;
}
.about-details{
    padding: 0 24px;
}
.about-details h6{
    font-size: 16px;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
    color: #00579A;
}
.about-details h2{
    font-size: 32px;
    margin-bottom: 8px;
    color:#212529;
}
.about-details p{
    font-size: 16px;
    margin-bottom: 16px;
    color:#212529;
}
.skill-lookup{
 width: 90%;
}
.skill-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    line-height: 1.9;
}
.skill-bar{
    width: 100%;
    height: 10px;
    background-color: #E3E3E5;
}
.skill-bar .communication
{
    width: 40%;
    height: 10px;
}
.skill-bar .planning
{
    width: 15%;
    height: 10px;
}
.skill-bar .learning
{
    width: 45%;
    height: 10px;
}
.skill-bar .programming
{
    width: 30%;
    height: 10px;
}
.skill-bar .skill-level{
 background-color: #00579A;
}








#footer-block{
    width: 100%;
    background-color: #212529;
    margin-top: 100px;
    color: white;
}
.content-container{
    padding: 60px;
    width: 100%;
    color: #333333;
}
.subcribe-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding:30px;
    background-color: #00579A;
    border-radius: 5px;
    position: relative;
    top:-100px;
}
.subcribe-div .col{
    width: 50%;
}
.subcribe-div .col .input-container
{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
}

.subcribe-div .col h2{
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
}
.subcribe-div .col input[type="text"]{
    /* font-size: 25px; */
    background-color: #FFFFFF;
    padding: 6px 12px;
    height: 45px;
    border-radius: 5px 0px 0px 5px;
    text-decoration: none;
    border: none;
    width: 70%;
    margin: 0;

}
.subcribe-div .col input[type="submit"]{
    font-weight:400;
    color: #FFFFFF;
    background-color: #212529;
    text-align: center;
    padding: 6px 12px;
    height: 45px;
    border-radius: 0 5px 5px 0;
    border: 0;
    margin: 0;
}

.content-container{

}


.content{
    display: flex;
    color: #FFFFFF;
    font-weight: 300;
}
.content .col{
    width: 25%;
    padding: 0 15px;
}
.content .col h5{
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 300;
}
.content .col li{
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 300;
}
.content .col a{
    font-size: 14px;
    font-weight: 300;
}
#footer-block a{
    text-decoration: none;
    color: #FFFFFF;
}

.copyright-container{
    padding: 32px;
    text-align: center;
}
i{
    font-size: 15px;
}














  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 615.98px) {
    /* Styles here */
    .hero-about-btn{
        padding: 10px 40px;
    }
    
    .hero-contact-btn{
        padding: 10px 40px;
    }
    .hero h1 {
        font-size: 1.9rem;
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
    }
    #hero-container{
        display: flex;
        flex-direction:column-reverse;
        justify-content:flex-start;
        align-items: center;
        padding: 20px;
    }
    .hero{
        text-align: center;
        width: 100%;
    }
    .banner-container{
        height: 110vh;
    }
    .hero-image{
        width: 400px;
    }
    header nav{
        display: none;
    }
    .about-container{
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
    }
    .about-img img{
        border-radius: 15px;
    }
    .about-img{
        margin: 0;
    }
    .about-details{
        padding: 50px 0px;
    }
    .service-block{
        padding: 0 20px;
    }
    .content{
        flex-direction: column;
    }
    .content .col{
        width: 100%;
        padding: 0 15px;
        margin-top: 20px;
    }
    .content .col li{
        list-style-type: none;
    }
    .content-container{
        padding: 20px;
    }
    .subcribe-div{
        flex-direction: column;
    }
    .subcribe-div .col {
        width: 100%;
    }
    .subcribe-div .col h2{
        text-align: left;
    }
    .subcribe-div .col .input-container
    {
        justify-content:start;
        align-items: center;
        width: 100%;
        margin-top: 5px;
    }
    header{
        padding: 20px 20px;
    }
    .handbarger{
        display: inline-block;
    }
  }
  
  /* Medium devices (tablets, less than 992px) */
  @media (min-width: 616px) and (max-width: 1029.98px) {
    #hero-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }
    .hero {
        text-align: center;
        width: 90%;
    }
    .hero-image {
        width: 400px;
    }
    .banner-container {
        height: 110vh;
    }
    header nav {
        display: none;
    }
    .hero h1 {
        font-size: 1.9rem;
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
    }
    .about-container{
        flex-direction: column;
        justify-content: space-between;
    }
    .about-img img{
        border-radius: 45px;
    }
    .about-details{
        padding: 50px 24px;
    }
    .about-img img{
        border-radius: 15px;
        padding: 0;
    }
    .content{
        flex-direction: column;
    }
    .content .col{
        width: 100%;
        padding: 0 15px;
        margin-top: 20px;
    }
    .content .col li{
        list-style-type: none;
    }
    .content-container{
        padding: 20px;
    }
    .subcribe-div{
        flex-direction: column;
    }
    .subcribe-div .col {
        width: 100%;
    }
    .subcribe-div .col h2{
        text-align: left;
    }
    .subcribe-div .col .input-container
    {
        justify-content:start;
        align-items: center;
        width: 100%;
        margin-top: 5px;
    }
    .handbarger{
        display: inline-block;
    }
}

  
  /* Large devices (desktops, less than 1200px) */
  @media (min-width:1030px) and (max-width: 1299.98px) {
    /* Styles here */
    .hero h1 {
        font-size: 2.0rem;
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
    }
  }
